.main_buy_order
  .content_buy_header
    = link_to image_tag('/img/fmarket_logo_red.svg', width: '300', height: '150'), root_path
  .content_buy_order 
    .content_title 購入内容の確認
    .content_good_box 
      .content_good_box_form
        .content_good_image gazou
        -# ="#{@post. image_url}"
        .content_good_text 
          -# =@posts.name
      .content_good_detail
        .good_cost
          .good_cost_box
            .buy_money ¥550
            -# = "#{@posts.price}円" 
            .send_tax 送料込み
        .good_point
          .good_point_display ポイントがありません
        .buy_cost
          .buy_cost_box
            .cost_display 支払い金額
            .real_cost
              -# = "#{@posts.price}円" 
        .attend_content 配送先と支払い方法の入力を完了してください。
        .purchase
          .purchase_text
            = form_for :buy_order, url:pay_posts_path do |form|
              %script.payjp-button{:src => "https://checkout.pay.jp", :type => "text/javascript" ,"data-text" => "購入する" ,"data-key" => "pk_test_**************"}
    .content_user
      .content_user_box
        .address 配送先
        .person_address
          .person_postal_code 
          -# =@user.postal_code
          .person_send_address 
          -# =@user.prefecture 
          -# =@user.city
          -# =@user.address
          .person_name 
          -# =@user.name
        .address_change 変更する
    .content_cost 
      .content_cost_box
        .cost_how 支払い方法
        .cost_detail クレジットカード
        -# =@cards.card_id
        .cost_in_cost
        .cost_change 変更する
  .footer_wrapper
    %ul.footer-wrap
      %li.footer-text プライバシーポリシー
      %li.footer-text メルカリ利用規約
      %li.footer-text 特定商取引に関する表記
    
    .footer-image
      = link_to image_tag("https://www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?2177740229", width: '70', height: '70'), root_path

    .footer-copy
      %p &copy; 2019 Mercari

