.progress-wrap
  .progress-image
  = link_to image_tag('/img/fmarket_logo_red.svg', width: '200', height: '100'), root_path
  %ur.progress-bar
    %li.progress-bar-name-gray
      会員情報
      %span.return-color-box-f
    %li.progress-bar-name-gray
      電話番号認証
      %span.return-color-box-red
    %li.progress-bar-name-gray
      お届け先住所入力
      %span.return-color-box-red-after-red
    %li.progress-bar-name-gray-name-red
      支払い方法
      %span.return-color-box-red
    %li.progress-bar-name-gray
      完了
      %span.return-color-box-l
  .progress-bar-clear

.member-wrap
  %h2 支払い方法
  = form_for @user, url: complete_signups_path, method: :get do |f|

    .field
      = f.label :email, "カード番号", class: "member-text"
      %span.required 必須
      %br/
      = f.text_field :email, autofocus: true, class: "field-input", placeholder: "半角数字のみ",autocomplete: "email"
    
    .field
      = image_tag('/img/credit-card_22.png', width: '50', height: '30')
      = image_tag('/img/credit-card_9.png', width: '50', height: '30')
      = image_tag('/img/credit-card_26.png', width: '50', height: '30')
      = image_tag('/img/credit-card_28.png', width: '50', height: '30')
      = image_tag('/img/credit-card_19.png', width: '50', height: '30')
      = image_tag('/img/credit-card_31.png', width: '50', height: '30')
      = image_tag('/img/credit-card_15.png', width: '50', height: '30')

    .field
      = f.label :email, "有効期限", class: "member-text"
      %span.required 必須
      %br/
      = f.text_field :email, autofocus: true, class: "field-input-half", placeholder: "01",autocomplete: "email"
      %span 月
      = f.text_field :email, autofocus: true, class: "field-input-half", placeholder: "19",autocomplete: "email"
      %span 年

    .field
      = f.label :email, "セキュリティーコード", class: "member-text"
      %span.required 必須
      %br/
      = f.text_field :email, autofocus: true, class: "field-input", placeholder: "カード背面4桁もしくは3桁の番号",autocomplete: "email"

    .submit-button-text
      = link_to "カード裏面の番号とは？"

    .field
    = f.submit "次へ進む", class: "submit-button"
  
= render 'signups/footer'
