= render partial: 'posts/header', post: @post
.navi
  - breadcrumb :mypage
  = render "layouts/breadcrumbs"
.main
  .content
    .content__icon
      =link_to "#", class: "icon-name" do
        =image_tag "https://static.mercdn.net/images/member_photo_noimage_thumb.png", class:'user-icon2'
        .user-name
          = @user.nickname
        .user-date
          評価  23 出品数  5
    .content__box
      .content__menu
        .menu1
          .menu1name お知らせ
        .menu2
          .menu2name やることリスト
    .content__box2
      %ul.content__lists
        %li.content__list
          =link_to "#", class: "list-name" do
            =image_tag('/img/logo_red.svg',class:"gazou")
            .content__list-text
              .text 事務局から個別メッセージ「ログイン通知」
              .time
                %i.far.fa-clock
                %span 2日前
        %li.content__list
          =link_to "#", class: "list-name" do
            =image_tag('/img/logo_red.svg',class:"gazou")
            .content__list-text
              .text 事務局から個別メッセージ「ログイン通知」
              .time
                %i.far.fa-clock
                %span 2日前
        %li.content__list
          =link_to "#", class: "list-name" do
            =image_tag('/img/logo_red.svg',class:"gazou")
            .content__list-text
              .text 事務局から個別メッセージ「ログイン通知」
              .time
                %i.far.fa-clock
                %span 2日前
        %li.content__list
          =link_to "#", class: "list-name" do
            =image_tag('/img/logo_red.svg',class:"gazou")
            .content__list-text
              .text 事務局から個別メッセージ「ログイン通知」
              .time
                %i.far.fa-clock
                %span 2日前
        %li.content__list
          =link_to "#", class: "list-name" do
            =image_tag('/img/logo_red.svg',class:"gazou")
            .content__list-text
              .text 事務局から個別メッセージ「ログイン通知」
              .time
                %i.far.fa-clock
                %span 2日前
        %li.content__list2
          =link_to "一覧を見る","#", class: "list-name2"
    .content__box3
      .content__title 購入した商品
      .content__menu
        .menu1
          .menu1name 取引中
        .menu2
          .menu2name 過去の取引
      .content__hako
  = render partial: "side"
= render partial: 'posts/footer', post: @post