= render partial: 'posts/header', post: @post
.navi
  - breadcrumb :profile_mypage
  = render "layouts/breadcrumbs"
= render partial: "posts/camera"
.main
  .profile
    .profile__title プロフィール
    .profile__box
      = form_for current_user, url: profile_mypages_path, method: :get do |f|
        .profile__list
          =image_tag "https://static.mercdn.net/images/member_photo_noimage_thumb.png", class:'user-icon3'
          = f.text_field :nickname, autofocus: true, class: "profile__name",autocomplete: "nickname"
        .profile__list2
          .profile__text
          .profile__aaa
            = f.submit "変更する", class: "profile__btn"
  = render partial: "side"
= render partial: 'posts/footer', post: @post
