= render partial: "/posts/header/"
.navi
  - breadcrumb :show_mypage
  = render "layouts/breadcrumbs"
= render partial: "posts/camera"
.main
  .content
    .content__box4
      .content__title 出品した商品
      .content2
        .menu3
          .menu3name 出品中
        .menu4
          .menu4name 取引中
        .menu5
          .menu5name 売却済み
      .content__hako
        - @post.each do |post|
          =link_to "/posts/#{post.id}" do
            .post-content
              .post-img
                =image_tag "#{post.images[0].image_url}", class:'itme-image'
              .post-detail
                .post-name
                  = post.name
                .detail-btn
                  .like-btn 
                    %i.fas.fa-heart.faa-pulse 7
                  .comment-btn
                    %i.fas.fa-comment-alt.faa-pulse 0
  = render "side"
= render "posts/footer"

