.entry_wrapper
  .top_image
    = link_to image_tag('/img/fmarket_logo_red.svg', width: '300', height: '150'), root_path

  .member-wrap
    .field-box
      .member-person-wrap-suer-text-center
        %p アカウントをお持ちでない方はこちら
      .field_border
        = link_to "新規会員登録", signups_path, class: "submit-button-blue"
        
    .field_border-f
      = link_to "Facebookでログイン", user_facebook_omniauth_authorize_path, class: "submit-button-facebook"

    .field_border-g
      = link_to "Googleでログイン", user_google_oauth2_omniauth_authorize_path, class: "submit-button-Google"

    = form_for @user, url: user_session_path do |f|
      .field
        = f.label :email
        %br/
        = f.email_field :email, class: "field-input", placeholder: "メールアドレス", autofocus: true, autocomplete: "email"
      .field
        = f.label :password
        %br/
        = f.password_field :password, class: "field-input", placeholder: "パスワード", autocomplete: "current-password"
      - if devise_mapping.rememberable?
        .field
        .actions
          = f.submit "ログイン", class: "submit-button"
      .field
        .submit-button-text-left1
          = link_to "パスワードをお忘れの方"
.footer_wrapper
  %ul.footer-wrap
    %li.footer-text プライバシーポリシー
    %li.footer-text メルカリ利用規約
    %li.footer-text 特定商取引に関する表記

  .footer-image
    = link_to image_tag("https://www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?2177740229", width: '70', height: '70'), root_path
  .footer-copy
    %p &copy; 2019 Mercari
 