.entry_wrapper
  .top_image
    = link_to image_tag('/img/fmarket_logo_red.svg', width: '300', height: '150'), root_path

  .member-wrap
    = form_for @user, url: new_user_registration_path, method: :get do |f|
      .field
        .member-person-wrap-suer-text-center
          %p アカウントをお持ちでない方はこちら

      .field_border
        = f.submit "新規会員登録", class: "submit-button-blue"
        -# = button_to "新規会員登録", signup_index_path, class: 'submit-button-blue'
      .field
        = f.submit "Facebookでログイン", class: "submit-button-facebook"

      .field
        = f.submit "Googleでログイン", class: "submit-button-Google"

      .field
        = f.label :email
        %br/
        = f.email_field :email, class: "field-input", placeholder: "メールアドレス", autofocus: true, autocomplete: "email"
      .field
        = f.label :password
        %br/
        = f.password_field :password, class: "field-input", placeholder: "パスワード", autocomplete: "current-password"
      - if devise_mapping.rememberable?
        .field
        .actions
          = f.submit "ログイン", class: "submit-button"
      .field
        .submit-button-text-left
          = link_to "パスワードをお忘れの方"
.footer_wrapper
  %ul.footer-wrap
    %li.footer-text プライバシーポリシー
    %li.footer-text メルカリ利用規約
    %li.footer-text 特定商取引に関する表記

  .footer-image
    = link_to image_tag("https://www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?2177740229", width: '70', height: '70'), root_path
  .footer-copy
    %p &copy; 2019 Mercari
    -# = render "devise/shared/links"
    -# = link_to 'topへ', root_path
