.progress-wrap
  .progress-image
  = link_to image_tag('/img/fmarket_logo_red.svg', width: '200', height: '100'), root_path
  %ur.progress-bar
    %li.progress-bar-name-gray
      会員情報
      %span.return-color-box-f
    %li.progress-bar-name-gray
      電話番号認証
      %span.return-color-box-red
    %li.progress-bar-name-gray
      お届け先住所入力
      %span.return-color-box-red-after-red
    %li.progress-bar-name-gray-name-red
      支払い方法
      %span.return-color-box-red
    %li.progress-bar-name-gray
      完了
      %span.return-color-box-l
  .progress-bar-clear

.member-wrap
  %h2 支払い方法
  = form_tag(pay_card_index_path, method: :post, id: 'charge-form', name: "inputForm") do

    .field
      %label カード番号
      %span.required 必須
      %br/
      = text_field_tag "number", "", class: "member-text_num", placeholder: "半角数字のみ" ,maxlength: "16", type: "text", id: "card_number"
    
    
    .img_field
      = image_tag('/img/credit-card_22.png', width: '50', height: '30')
      = image_tag('/img/credit-card_9.png', width: '50', height: '30')
      = image_tag('/img/credit-card_26.png', width: '50', height: '30')
      = image_tag('/img/credit-card_28.png', width: '50', height: '30')
      = image_tag('/img/credit-card_19.png', width: '50', height: '30')
      = image_tag('/img/credit-card_31.png', width: '50', height: '30')
      = image_tag('/img/credit-card_15.png', width: '50', height: '30')

    .field
      %label 有効期限
      %span.required 必須
      %br/
      %select#exp_month{name: "exp_month", class: "member-text_exp", type: "text"}
        %option{value: ""} --
        %option{value: "1"}01
        %option{value: "2"}02
        %option{value: "3"}03
        %option{value: "4"}04
        %option{value: "5"}05
        %option{value: "6"}06
        %option{value: "7"}07
        %option{value: "8"}08
        %option{value: "9"}09
        %option{value: "10"}10
        %option{value: "11"}11
        %option{value: "12"}12
      %span 月
      %br/
      %select#exp_year{name: "exp_year", class: "member-text_exp",  type: "text"}
        %option{value: ""} --
        %option{value: "2019"}19
        %option{value: "2020"}20
        %option{value: "2021"}21
        %option{value: "2022"}22
        %option{value: "2023"}23
        %option{value: "2024"}24
        %option{value: "2025"}25
        %option{value: "2026"}26
        %option{value: "2027"}27
        %option{value: "2028"}28
        %option{value: "2029"}29
      %span 年
      %br
    .field
      %label セキュリティコード
      %span.required 必須
      %br/
      = text_field_tag "cvc", "", class: "member-text_num", placeholder: "カード背面3~4桁の番号", maxlength: "4", id: "cvc"
      #card_token
    .submit-button-text
      = link_to "カード裏面の番号とは？"

    .field
    = submit_tag "次へ進む", id: "token_submit",  class: "submit-button_card"

%ul.footer-wrap
  %li.footer-text プライバシーポリシー
  %li.footer-text メルカリ利用規約
  %li.footer-text 特定商取引に関する表記
  
.footer-image
  = link_to image_tag("https://www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?2177740229", width: '70', height: '70'), root_path
.footer-copy
  %p &copy; 2019 Mercari