= render partial: "header"
.navi
  - breadcrumb :category_posts
  = render "layouts/breadcrumbs"
= render partial: "camera"

.category
  .category_main
    .category_name
      %span カテゴリー一覧
    .category_lists
      - @category_parent.each do |parent|  
        .category_list
          = link_to category_posts_path(parent), class: "category-style-0" do
            = parent.name
    - @category_parent.each do |parent|
      .category_box
        .category_box2
          .category_title
            %span.catogory0= parent.name

          - parent.children.each do |children|
            .category_content
              = link_to category_posts_path(children) do
                = children.name
            
                .category_content-box

                  - children.children.each do |grandchild|
                    = link_to category_posts_path(grandchild), class: "category-block" do
                      = grandchild.name
= render partial: "footer"