.form
  = form_for @post do |form|
    = form.text_field :name, placeholder:"name"
    = form.text_field :description, placeholder:"description"
    = form.text_field :cotegory, placeholder:"cotegory"
    = form.text_field :brand, placeholder:"brand"
    = form.text_field :status, placeholder:"status"
    = form.text_field :postage, placeholder:"postage"
    = form.text_field :ship_from, placeholder:"ship_from"
    = form.text_field :shipping_date, placeholder:"shipping_date"
    = form.text_field :price, placeholder:"price"
    = form.submit
